* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
    color: rgb(31, 31, 31);
    font-weight: 400;
    font-size: 1rem;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a {
    color: rgb(31, 31, 31);
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-size: inherit;
    font-weight: inherit;
    width: 100%;
}
em{
    font-style: normal;
}
.container {
    padding: 0 24px;
    width: 100%;
}

.delete {
    position: relative;
}

.delete::before {
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    display: block;
    background: url(./../icons/delete.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 21px 11px 21px;
    width: 100%;
    border-radius: 8px;
    background: rgb(176, 253, 228);

    color: black;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    transition: .3s;
}
.button:hover{
    background-color: rgb(255, 64, 83);
    color: white;
}